<div class="col-md-12 no-padding">
    <div class="action-bar clearfix">
        <h1>Please add a new Item!</h1>
    </div class="content-wrapper">
		<div class="alert" ng-if"feedback.hasFeedback" ng-class="{ 'alert-success': feedback.status === 'success', 'alert-danger': feedback.status === 'danger'}">
			<p>{{feedback.message}}</p>
		</div>
		<form role="form" ng-submit="saveItem()">
			<fieldset>
				<div class="form-group">
					<label for="Title">Title</label>
					<input type="text" class="form-control" placeholder="Title" ng-model="item.title" required>
				</div>
				<div class="form-group">
					<label for="Collection">Collection</label>
					<input type="text" class="form-control" placeholder="Collection" ng-model="item.collection_id" required>
				</div>
				<div class="form-group">
					<label for="Description">Description</label>
					<input type="text" class="form-control" placeholder="Description" ng-model="item.description" required>
				</div>
				<div class="form-group">
					<label for="ID">ID(for testing purposes)</label>
					<input type="text" class="form-control" placeholder="ID" ng-model="item.id" required>
				</div>
				<div class="form-group">
					<label for="Picture">Picture Upload</label>
					<input type="file" id="uploadFile" required>
				</div>
				<button type="submit" class="btn btn-success btn-lg btn-block">Submit!</button>
			</fieldset>
		</form>
	</div>
</div>