<div class="col-md-12 no-padding">
    <div class="action-bar clearfix">
        <h1>Please create a new Collection!</h1>
	</div>
    <div class="content-wrapper">
		<div class="alert" ng-if"feedback.hasFeedback" ng-class="{ 'alert-success': feedback.status === 'success', 'alert-danger': feedback.status === 'danger'}">
			<p>{{feedback.message}}</p>
		</div>
		<form role="form" ng-submit="saveCollection()">
			<fieldset>
				<div class="form-group">
					<label for="Title">Title</label>
					<input type="text" class="form-control" placeholder="Title" ng-model="collection.title" required>
				</div>
				<div class="form-group">
					<label for="Description">Description</label>
					<input type="text" class="form-control" placeholder="Description" ng-model="collection.description" required>
				</div>
				<div class="form-group">
					<label for="Category">Category</label>
					<input type="text" class="form-control" placeholder="Category" ng-model="collection.category" required>
				</div>
				<div class="form-group">
					<label for="isPrivate">
					<input type="checkbox" value="true" placeholder="isPrivate" ngmodel="collection.isPrivate">
					&nbspIs it Private?</label>
				</div>
				
				<!-- add more stuff here -->
				
				<button type="submit" class="btn btn-success btn-lg btn-block">Submit!</button>
			</fieldset>
		</form>
	</div>
</div>